<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.bcss.collect.android">

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" /> <!-- Dangerous permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- Normal permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Removed in API 23 -->
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!--
    for Maps v2 functionality, want:
    <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
    uses-feature android:glEsVersion="0x00020000" android:required="false"
    BUT, the gl setting is not modified by the required parameter, so
    do not declare anything here - detect capabilities at runtime.
    -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".application.Collect"
        android:icon="@drawable/ic_launcher_fieldsight"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity android:name="org.bcss.collect.naxa.formflag.FlaggedFormActivity"></activity>


        <provider
            android:name=".provider.FormsProvider"
            android:authorities="org.bcss.collect.android.provider.odk.forms"
            android:exported="true" />
        <provider
            android:name=".provider.InstanceProvider"
            android:authorities="org.bcss.collect.android.provider.odk.instances"
            android:exported="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="org.odk.collect.android.activities.MainMenuActivity"
            android:configChanges="locale|orientation|screenSize"
            android:exported="true" />
        <activity
            android:name="org.odk.collect.android.activities.ScannerWithFlashlightActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="org.odk.collect.android.activities.FormEntryActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.bcss.form" />
                <data android:mimeType="vnd.android.cursor.item/vnd.bcss.instance" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.odk.collect.android.activities.NotificationActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="org.odk.collect.android.activities.DrawActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="org.odk.collect.android.activities.GoogleDriveActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="org.odk.collect.android.activities.InstanceChooserList">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.instance" />
            </intent-filter>
        </activity>
        <activity android:name="org.odk.collect.android.activities.FormChooserList">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.form" />
            </intent-filter>
        </activity>
        <activity android:name="org.odk.collect.android.activities.FormDownloadList">
            <intent-filter>
                <action android:name="org.bcss.collect.android.FORM_DOWNLOAD" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.form" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.odk.collect.android.activities.FileManagerTabs"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="org.odk.collect.android.activities.GoogleSheetsUploaderActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="org.odk.collect.android.activities.InstanceUploaderList"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.odk.collect.android.activities.AboutActivity" />
        <activity android:name="org.odk.collect.android.preferences.PreferencesActivity" />
        <activity
            android:name="org.odk.collect.android.preferences.AdminPreferencesActivity"
            android:exported="true" />
        <activity android:name="org.odk.collect.android.activities.ViewFormHierarchyActivity" />
        <activity android:name="org.odk.collect.android.activities.EditFormHierarchyActivity" />
        <activity android:name="org.odk.collect.android.activities.GeoPointActivity" />
        <activity android:name="org.odk.collect.android.activities.InstanceUploaderActivity">
            <intent-filter>
                <action android:name="org.bcss.collect.android.INSTANCE_UPLOAD" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.instance" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.odk.collect.android.activities.GeoPointOsmMapActivity"
            android:configChanges="orientation" />
        <activity
            android:name="org.odk.collect.android.activities.GeoShapeOsmMapActivity"
            android:configChanges="orientation" />
        <activity
            android:name="org.odk.collect.android.activities.GeoTraceActivity"
            android:configChanges="orientation" />
        <activity android:name="org.odk.collect.android.activities.BearingActivity" />
        <activity
            android:name="org.odk.collect.android.activities.SplashScreenActivity"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Enable Shortcuts for Command Actions -->
        <activity
            android:name="org.odk.collect.android.activities.AndroidShortcuts"
            android:label="ODK Form"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.odk.collect.android.activities.CaptureSelfieActivity" />
        <activity android:name="org.odk.collect.android.activities.CaptureSelfieActivityNewApi" />
        <!--
        Register AnalyticsReceiver and AnalyticsService to support background
        dispatching on non-Google Play devices.
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <service android:name="org.bcss.collect.naxa.onboarding.XMLFormDownloadService" /> <!-- ... -->
        <service android:name="org.bcss.collect.naxa.firebase.FieldSightFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="org.bcss.collect.naxa.firebase.FieldSightFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBS-JQ-dnaZ_8qsbvSyr_I3rTPFd5fJsYI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" /> <!-- integer/google_play_services_version -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="@bool/FIREBASE_CRASHLYTICS_ENABLED" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <activity
            android:name="org.odk.collect.android.location.GeoActivity"
            android:configChanges="orientation"
            android:exported="true" />
        <activity android:name="org.odk.collect.android.activities.WebViewActivity" />
        <activity android:name="org.odk.collect.android.activities.CaptureSelfieVideoActivityNewApi" />
        <activity
            android:name="org.bcss.collect.naxa.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.bcss.collect.naxa.project.ProjectListActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name="org.bcss.collect.naxa.site.FragmentHostActivity"
            android:exported="true" />
        <activity android:name="org.bcss.collect.naxa.site.ProjectDashboardActivity" />
        <activity
            android:name="org.bcss.collect.naxa.site.CreateSiteActivity"
            android:exported="true" />
        <activity
            android:name="org.bcss.collect.naxa.survey.SurveyFormsActivity"
            android:exported="true" />
        <activity android:name="org.bcss.collect.naxa.submissions.PreviousSubmissionListActivity" />
        <activity android:name="org.bcss.collect.naxa.submissions.PreviousSubmissionDetailActivity" />
        <activity android:name="org.bcss.collect.naxa.notificationslist.NotificationListActivity" />
        <activity android:name="org.bcss.collect.naxa.notificationslist.FlaggedInstanceActivity" />
        <activity
            android:name="org.bcss.collect.naxa.site.SiteDetailActivity"
            android:exported="true" />
        <activity android:name="org.bcss.collect.naxa.project.MapActivity" />
        <activity
            android:name="org.bcss.collect.naxa.profile.UserProfileActivity"
            android:exported="true" />
        <activity
            android:name="org.bcss.collect.naxa.profile.UserActivity"
            android:exported="true" />
        <activity android:name="org.bcss.collect.naxa.sitedocuments.SiteDocumentsListActivity" />
        <activity
            android:name="org.bcss.collect.naxa.sitedocuments.ImageViewerActivity"
            android:label="@string/title_activity_image_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.bcss.collect.naxa.migrate.MigrateFieldSightActivity"
            android:exported="true" />
        <activity android:name="org.bcss.collect.naxa.educational.EducationalMaterialActivity" />
        <activity android:name="org.bcss.collect.naxa.project.AppUpdateActivity" />
        <activity android:name="org.odk.collect.android.activities.GeoShapeActivity" />
        <activity android:name="org.bcss.collect.naxa.educational.EduMat_ViewTextTitleDetailsActivity" />
        <activity android:name="org.bcss.collect.naxa.educational.EduMat_ViewImageDetailsActivity" />
        <activity android:name="org.bcss.collect.naxa.educational.EduMat_ViewVideoDetailsActivity" />
        <activity android:name="org.bcss.collect.naxa.sync.DownloadActivityRefresh" />
        <activity
            android:name="org.bcss.collect.naxa.onboarding.DownloadActivity"
            android:exported="true" />

        <receiver
            android:name="org.odk.collect.android.tasks.sms.SmsSentBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.bcss.collect.android.COLLECT_SMS_SEND_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.odk.collect.android.tasks.sms.SmsNotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.bcss.collect.android.COLLECT_SMS_NOTIFICATION_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TestingActivity"
            android:exported="true"
            android:label="@string/title_activity_testing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SiteProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_site_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.bcss.collect.naxa.project.NotificationTestActivity"
            android:exported="true" />
        <activity android:name="org.bcss.collect.naxa.flagform.FlaggedInstanceActivityNew" />
        <activity android:name="org.bcss.collect.naxa.common.SettingsActivity" />
        <activity
            android:name="org.bcss.collect.naxa.preferences.SettingsActivity"
            android:exported="true" />
    </application>

</manifest>